/* ****************************************************************************
GENERAL
**************************************************************************** */

* {
  outline: none;
}


body {
    margin-bottom: 170px;
}

.wrap {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;

}


.lead  {
  color: #8A2BE2;
font-size: 40px;
}
.zoom {
  max-width: 100%;
  max-height: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
overflow: hidden; 

}
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
overflow: hidden; 
}

  .date {
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
      color: white;
    padding: 0.9em;
 }

    span {
      display: block;
      text-align: center;
    }

    .d {
      font-weight: 700px;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba(black, 0.18);
    }

    .m {
      text-transform: uppercase;
    }

    .m,
    .y {
      font-size: 12px;
    }

ul#suggestions {
list-style: none;
margin: 0:
padding: 0:
width: 208px:
display:  none:
}

ul#suggestions li {}

ul#suggestions li a {
display: block:
min-height: 1em:
padding: 0.5em 10px:
background: #ccc:
color: #000:
text-decoration: none:
}

ul#suggestions li a  hover{
background: #aaa:
}
 textarea {
  height:900px;
}


.button {
width:180px;
text-decoration: none;
}
.button a:hover {
text-decoration: none;
}

/* ****************************************************************************
NAV - MOBILE
**************************************************************************** */

.title-bar {
  background-color: #222;
  height: 60px;
  padding-top: 17px;
}

#mobile-menu {
  background-color: #222;
  padding: 10px;
}

#mobile-menu li {
  list-style: none;
}

#mobile-menu a {
  color: rgba(255, 255, 255, .6);
  font-weight: bold;
  line-height: 2;
}

#mobile-menu a:hover {
  color: rgba(255, 255, 255, .8);
}

.js-off-canvas-exit {
  background: rgba(0, 0, 0, .5);
}

.off-canvas-wrapper {
  background-color: #222;
}

/* ****************************************************************************
NAV - DESKTOP
**************************************************************************** */

.nav-desktop {
  background-color: #222 !important;;
  height: 80px;
  padding: 0;
&.fixed {
top: 0;
left: 0;
  width: 100%;
position: fixed;
z-index: 2000;
}
}

.site-logo {
  color: white;
  line-height: 80px;
}

.nav-desktop .menu-desktop {
  line-height: 80px;
  background-color: transparent;
}

.menu > li > a {
  display: inline-block;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
}

.menu > li > a:hover {
  background-color: rgba(255, 255, 255, .1);
}

/* ****************************************************************************
HERO
**************************************************************************** */

.hero {
  background-color: #999;
  padding: 80px 0;
  height: 400px;
  background-image: url("/images/bookshelf image.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: 1 !important;
    background-position: 0 0;
    position: relative;
}
.hero h1 {
font-size: 200%;
text-transform: uppercase;
text-shadow: 1px 1px 10px #800080;
}

.hero h1,
.hero p {
  color: rgba(255, 255, 255, .8);
  width: 70%;
}
.hero .intro {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
padding: 2.5rem 0;
    background-color: purple;
   
}
.row {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}
/* ****************************************************************************
MAIN SECTION
**************************************************************************** */
.jumbatron {
  background-color: #999;
  padding: 80px 0;
  height: 100px;
}

.main {
  padding: 80px 0;

}



.featurecolumns {
  padding: 1em;
  font-weight: bold;
}

.article {
 
}

.posts {
   
}
.tweets {

}

.responsive-embed,
.flex-video {
  position: relative;
  height: 0;
  margin-bottom: 1rem;
  padding-bottom: 75%;
  overflow: hidden; }
  .responsive-embed iframe,
  .responsive-embed object,
  .responsive-embed embed,
  .responsive-embed video,
  .flex-video iframe,
  .flex-video object,
  .flex-video embed,
  .flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

section.coloured {
    padding-top: 0.9375rem !important;
    padding-right: 0rem !important;
    padding-bottom: 1.875rem !important;
    padding-left: 0rem !important;
}
.coloured {
    background: #e4e7f2;
    color: #000;
}

section.notcoloured {
    padding-top: 0.9375rem !important;
    padding-right: 0rem !important;
    padding-bottom: 1.875rem !important;
    padding-left: 0rem !important;
}
.notcoloured {
    background: #ffffff;
    color: #000;
}

section {
   
    width: 100%;
    display: inline-block;
    position: relative;
}
/* ****************************************************************************
ICONS
**************************************************************************** */
.fa-code {
color: #e54d26;
}

.fa-bold {
color: #563d7c;
}

.fa-css3 {
color: #2163af;
}

.fa-drupal {
color: #2163af;
}

.fa-code, .fa-bold, .fa-css3, .fa-drupal {
font-size: 4em;
margin: 1em;
}

.vl {
    border-right: 2px solid green;
    height: 150px;
}
/* ****************************************************************************
ANIMATED BOUNCE
**************************************************************************** */
.cd-intro-content h1,
.cd-intro-content p,
.cd-intro-content .cd-btn {
  opacity: 0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.bouncy.cd-intro-content h1 {
  animation-name: cd-bounce-right;
}

.bouncy.cd-intro-content p {
  animation-name: cd-bounce-left;
}

.bouncy.cd-intro-content h1,
.bouncy.cd-intro-content p {
  animation-duration: 0.6s;
}

.bouncy.cd-intro-content .cd-btn {
  animation-name: cd-bounce-rotate;
  animation-duration: 0.5s;
}

.bouncy.cd-intro-content .cd-btn.main-action {
  animation-delay: 0.4s;
}

@keyframes cd-bounce-right {
  0% {
    opacity: .2;
    transform: translateX(-200px);
  }
  60% {
    opacity: .7;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cd-bounce-left {
  0% {
    opacity: .2;
    transform: translateX(200px);
  }
  60% {
    opacity: .7;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cd-bounce-rotate {
  0% {
    opacity: .2;
    transform: perspective(800px) rotateX(-80deg);
  }
  20% {
    opacity: 1;
  }
  60% {
    transform: perspective(800px) rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0);
  }
}
/* ****************************************************************************
FOOTER
**************************************************************************** */

footer {
 
  bottom: 0px; left: 0;
  padding: 1rem;
  background-color: #222;
      width: 100%;
  height: 150px;


}



footer h4 {
  color: rgba(255, 255, 255, .8);
  font-size: 1.3em;
}

footer hr {
  border-color: rgba(255, 255, 255, .1);
  margin: 10px 0;
}

footer a {
  display: block;
  color: rgba(255, 255, 255, .6);
  font-size: .8em;
}

footer a:hover {
  color: rgba(255, 255, 255, .8);
}

footer a span {
  font-weight: bold;
  color: rgba(255, 255, 255, .3);
}

/* ****************************************************************************
MEDIA QUERY
**************************************************************************** */

@media (max-width: 639px) {
  .nav-desktop {
    display: none;
  }
}

@media (max-width: 875px) {
  .hero h1,
  .hero p {
    width: 100%;
  }
}
